modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run With Pairing"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WhatsApp-Bot"

[[workflows.workflow]]
name = "WhatsApp-Bot"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 4000

[[workflows.workflow]]
name = "Run With Pairing"
author = 41130535
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js --pairing"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 4000
externalPort = 80
